@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.edit{
    text-align: center;
    width: 90%;
    /* background-color: #fae7e498; */
    margin: auto;
    margin-top: 5%;
    border-radius: 2%;
    font-size: 25px;
    opacity: .98;
    font-family: 'Inter';
    border-radius: 2%;
  }

  .edit-p{
font-size: 30px;
font-weight: 900;
display: flex;
flex-direction: column;
float: left;
/* padding: 10%; */
color:black;

}
.form{
    /* padding: 10%; */
    color:black;
    
}

.color2{
  display: flex;
  flex-direction: column;
  color:black;
  /* background-color: #ae9e8d4e; */
  /* margin-right: 0%;
  margin-left: 50%; */
  font-size: larger;
  padding: 40px;
  /* padding-left: 10%;
  padding-right: 10%; */
  border-radius: 10px;
  border: 2px solid;
  border-color: #E4E5E5;
  box-shadow: 10px 5px 5px #3f3e40;
  
}

.title{
    padding-top: 2%;
}

.edit-label{
  color: black;
  font-size: larger;
}

.text{
  color: black;
}


/* input[type='submit'] { */
    /* float: right; */
    /* background-color: #d6d3c0d9;
    margin:0 auto;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 1rem;
    /* justify-content: center; *
    width:1rem;
   
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; *
  }*/
  input[type='submit'] {
    /* float: right; */
    border: 2px solid #111;
    border-radius: 8px;
    /* box-sizing: border-box; */
    color: #111;
    cursor: pointer;
    /* display: flex; */
    font-family: 'Inter';
    font-size: 1.5rem;
    /* justify-content: center; */
    margin: 0 auto;
    width: 40%;
    text-align: center;
    /* text-decoration: none; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .edit-button {
   margin: 0 auto;
   background-color: #1C3B3D;
  }

  .edit-button:hover {
    color: #E3E0D3;
  }
  
  @media (min-width: 768px) {
    input[type=submit] {
      padding: 0 40px;
    }
  }
 