@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.equity-info{
  background-color:#86d0c24a;
  width:100vw;
}

.equity-name {
  font-size: 1rem;
  font-weight: 900;
  color: black;
  font-family: 'Inter';
  margin: 0 auto;
}

.table-container {
  width: auto; 
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
}

.equity-name:hover {
  color: #111;
}
.equitys {
  width: 90%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
 
}
.title-equity {
  padding: 2%;
  color: #111;
  font-size: 2rem;
  text-align: center;
}
h1 {
  font-family: 'Inter';
  text-align: center;
  font-size: 3rem;
  color: black;
}



.lists {
  text-align: center;
  list-style-type: none;
}

ul li + span {
  text-align: left;
}

.nameback-button {
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color:#86d0c24a; 
}

