@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h1,
h3 {
  text-align: center;
}
.appText {
  width: 600px;
  height: 100vh;
  margin: 1rem auto;
  text-align: left;
  color: #111;
  font-family: 'Inter';
}

@media (max-width: 768px) {
  .appText {
    width: 250px;
    text-align: center;
  }
  img {
    text-align: center;
    width: 250px;
    height: 250px;
  }
}
