@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* .charts-card{ 
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #5f7274a0;
    border: 4px solid #164b2b6f;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #3f3e40;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;  
}  */

.charts-name {
 
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  font-weight: 900;
  inline-size: 1000px;
  padding-top: 10px;
  padding-left: 20px;
  color: #50bfbf;
  font-family: 'Italiana', serif;
  /* position: relative;
    left: 35px; 
    top: 7px; */
}
.charts-name:hover {
  color: #e1ddc9;
}





/* .all-stocks {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: center;
} */

h1 {
  font-family: 'Inter';
  text-align: center;
  font-size: 3rem;
  color:black;
}

.back-button {
  margin: auto;
  margin-bottom: 2%;
}

.charts {
 background-color:#86d0c24a; 
  /* background-repeat: no-repeat;
  background-size: cover; */
  width: 90%;
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 10px;
}
.title-charts {
  padding: 2%;
  color: #111;
  font-size:2rem;
}
tr.green th {
  background:  #3c8c30;
  color: white;
  border: 1px solid black;
}
/* table {
    width: 50%;
    margin: auto;
    
  } */
.table-container {
  overflow: auto;
  max-height: auto;
  border: 1px solid black;
  margin: 0 auto;
}

th {
  position: sticky;
  top: 0;
  background: white;
}
td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid black;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}
