@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.new {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  border-radius: 2%;
  font-size: 2rem;
  opacity: 0.98;
  background-color: #86d0c24a;
  font-family: 'Inter';
  border-radius: 2%;
  box-sizing: border-box;
}

.form {
  margin: 3rem auto;
  padding: 10%;
}

.color1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  font-size: mwdium;
  border-radius: 10px;
}

.center {
  margin: auto;
  width: 40%;
  border: 3px solid green;
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
}

.text {
  color: #111;
  font-size: large;
}

.new-label1 {
  color: #111;
  font-size: large;
}

.title {
  padding: 0 0 2% 0;
  color: #111;
}

.text {
  color: #1d3c3d;
}

input[type='submit']{
  border: 2px solid #111;
  border-radius: 8px;
 
  color: #111;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 0.5rem;
  background-color: #86d0c24a;
  text-align:center;
  
}

@media (max-width: 768px) {
  .new {
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .center {
    border: 1px none;
    flex-direction: column;
  }
}
