@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.new {
  text-align: center;
  /* width: 90%; */
  margin: 3rem auto;
  /* margin-top: 5%; */
  border-radius: 2%;
  font-size: 2rem;
  opacity: 0.98;
  /* background-repeat: no-repeat;
  background-size: cover; */
  font-family: 'Inter';
  border-radius: 2%;
  /* padding-bottom: 10px; */
  box-sizing: border-box;
}

/* .new-list {
  font-size: 30px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  float: left;
  padding: 10%;
} */
.form {
  margin: 0 auto;
  padding: 10%;
}

.color1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  /* background-color: #ae9e8d74; */
  /* margin-right: 10%;
  margin-left: 50%; */
  font-size: mwdium;
  /* padding: 40px; */
  /* padding-left: 10%;
  padding-right: 10%; */
  border-radius: 10px;
  /* border: 2px solid;
  border-color: #ddd7b6;
  box-shadow: 10px 5px 5px #282828; */
}

.center {
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.text {
  color:  #111;
  /* #1c3c3e; */
  font-size: large;
}

.new-label1 {
  color: #111;
  font-size: large;
}

.title {
  padding:0  0  2% 0;
  color: #111;
}

.new-label {
  color: #1d3c3d;
  font-size: larger;
}

.text {
  color: #1d3c3d;
}

input[type='submit'] {
  /* float: right; */
  border: 2px solid #111;
  border-radius: 8px;
  /* box-sizing: border-box; */
  color: #111;
  cursor: pointer;
  /* display: flex; */
  font-family: 'Inter';
  font-size: 1.5rem;
  /* justify-content: center; */
  margin: 0 auto;
  width: 70%;
  text-align: center;
  /* text-decoration: none; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input[type='submit']:after {
  background-color: #111;
  border-radius: 8px;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

input[type='submit']:hover:after {
  transform: translate(0, 0);
  /* text-decoration: underline;*/
} 

input[type='submit']:active {
  /* background-color: #ffdeda; */
  outline: 0;
}

input[type='submit']:hover {
  outline: 0;
  /* text-decoration: underline; */
  color: #317479;
}

/* a:hover {
  color: #317479;
  text-decoration: underline;
}

a:visited {
  color: #24523f;
} */
@media (min-width: 768px) {
  input[type='submit'] {
    padding: 0 40px;
  }
}
