

h1 {
  text-align: center;
}

 .shows {
  text-align: center;
  height:100vh;
  background-color: #86d0c24a;
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
} 

.show-title {
  font-size: 1.5rem;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: black;
}

.show-info{
 padding:1rem 0;
 flex-direction: column;
 align-items:start;
 margin-left: 40px;
  }

.show_p {
  margin:0 auto;
  padding: 10px;
  font-size: 1.5rem;
  color:black;
}

.show-info {
 margin:0 auto;
}

span {
  color: black;
}

.show-button,.toggle {
  align-items: center;
  background-color: #86d0c24a;
  border: 2px solid #111;
  border-radius:10%;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: 'Inter';
 
  padding:1rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.showNavigation {
  padding-top: 20px;
  display: flex;
  padding-left: 1%;
  justify-content: space-between;
}

.bars {
  margin: 3rem 0;
}

