h1 {
  text-align: center;
}

.shows {
  background-color: #86d0c24a;
}

.show-title {
  font-size: 2rem;
  padding-bottom: 1%;
  text-align: center;
  color: black;
}

.show-info {
  padding: 1rem 0;
  margin-left: 40%;
  margin-right: 15%;
  border-radius: 5%;
  border-width: 3px;
}

.show_p {
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
  color: black;
}

span {
  color: black;
}

.show_button {
  align-items: center;
  background-color: #86d0c24a;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 1rem;
  padding: 0 25px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.toggle {
  display: grid;
}
.chartNavigation {
  display: flex;

  justify-content: center;
}
.showNavigation {
  padding-top: 20px;
  display: flex;
  padding-left: 1%;
  justify-content: space-between;
}

.bars {
  margin: 3rem 0;
}
