

h1 {
  text-align: center;
}

 .shows {
  text-align: center;
  background-color: #86d0c24a;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
} 

.show-title {
  font-size: 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: black;
}

.show-info{

 flex-direction: column;
 align-items:start;
 margin-left: 40;
  }

.show_p {
  margin:0 auto;
  padding: 10px;
  font-size: 1.5rem;
  color:black;
}

.show-info {
 margin:0 auto;
}

span {
  color: black;
}



.show-button {
  align-items: center;
  background-color: #e1dcca;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 2rem;
  padding: 0 25px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.showNavigation {
  padding-top: 20px;
  display: flex;
  padding-left: 1%;
  justify-content: space-between;
}

.bars {
  margin: 3rem 0;
}

@media (max-width: 768px) {
 
}
