.profile {
  height: 250px;
  padding: 2%;
  border: 2px solid #86d0c24a; 
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: left;
}

.aboutpage {
  margin: auto;
  width: 90%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  color:black;
  padding-bottom: 20px;
  /* background-image: url('https://media.istockphoto.com/photos/old-wooden-pallet-plank-texture-background-picture-id1204646431?b=1&k=20&m=1204646431&s=170667a&w=0&h=S2LPM5JFE04V1DLxtAl5DOtx-6NRc--hRyfn2Z1iAaA='); */
  padding: 20px;
  border-radius: 20px;
}
.aboutMe {
  font-size: 50px;
  margin: 20px;
  font-family: 'Inter';
}
.bio {
  font-size: 28px;
  margin-left: 30%;
  margin-right: 15%;
}

.about-title {
  font-family: 'Inter';
  font-weight: 900;
  padding: 10px;
  margin: 20px;
}
.name {
  padding: 2%;
  margin: auto;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 50px;
  color: black;
}
.border {
  padding: 2%;
}
.year {
  text-align: center;
}

.box {
  font-family: 'Inter';
  background-color: #86d0c24a;
  border: 2px solid;
  width:800px;
  margin: auto;
  padding-bottom: 20px;
  border-radius: 10px;
  color:black;
}

hr {
  border: #0c4b18a5 0.5px solid;
}
.github {
  padding-left: 2%;
  padding-right: 2%;
}

.appBio {
  margin: 20px;
  margin-right: 20px;
}

.github :hover {
  margin:3rem ;
  color: black;
  box-shadow: 0 15px 15px #1e3c3d;
}

@media (max-width: 768px) {
  
}

