.site-footer {
  background-color: black;
  padding: 5px 0 5px;
  font-size: 15px;
  line-height: 24px;
  color: #50bfbf;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.site-footer hr {
  border-top-color: #111;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #50bfbf;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #50bfbf;
}
.site-footer a:hover {
  color: #50bfbf;
  text-decoration: none;
}

.site-footer .social-icons {
  text-align: right;
}
.social-icons {
  list-style-type: none;
}
.socila-icons li {
  display: inline-block;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: black;
}
.copyright-text {
  margin: 0;
  color: #50bfbf;
}
@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #50bfbf;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: black;
  color:#50bfbf;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #50bfbf;
  background-color: black;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.github:hover {
  background-color: black;
}
.social-icons a.twitter:hover {
  background-color: black;
}
.social-icons a.linkedin:hover {
  background-color: black;
}

@media (max-width: 767px) {
}
